.navbar{
display: flex;
padding: 30px 50px;
box-shadow: 0px 2.98256px 7.4564px rgba(1, 0, 0, 0.1);
}
.navbar > img{
  width: 100px;
}
.menu{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.menu > img{
  width: 80vh;
  height: auto;
  padding: 10px;
}
.text{
  padding-left: 350px;
text-align: left;
justify-content: center;
}